export(GM)
export(GSD)
export(fast_POSIXct)
export(file.ext)
export(format_metric)
export(format_signif)
export(ggplot.zoo)
export(is.constant)
export(is.decimal)
export(is.odd)
export(melt.zoo)
export(na.replace)
export(nonzero)
export(read.layer)
export(read.serlog)
export(sample.data.frame)
export(update.list)
